* {
    margin: 0;
    box-sizing: border-box;
}

header,
footer,
.option p,
.hide-option p {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer,
.char--cont,
.option-btn {
    color: #fff;
}


header {
    min-height: 75px;
    text-align: center;
    font-family: 'Vina Sans', cursive;
    font-size: 36px;
    font-weight: 400;
}

footer {
    margin: auto;
    min-height: 50px;
    font-size: 15px;
}


body {
    width: 100%;
    font-family: monospace;
    background: #aaa;
    background-image:
        linear-gradient(-45deg,
            transparent 75%,
            #999 75%),
        linear-gradient(45deg,
            transparent 75%,
            #999 75%),
        linear-gradient(135deg,
            transparent 75%,
            #999 75%),
        linear-gradient(-135deg,
            transparent 75%,
            #999 75%);
    background-size: 160px 160px;
    background-position: 80px 0, 80px 0, 0 0, 0 0;
}

button {
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-family: monospace;
}

.container-1 {
    margin: auto;
    border: #fff solid 5px;
    background: #fff;
    display: grid;
    grid-gap: 5px;
}

.char--cont {
    min-height: 320px;
    padding: 0 20px;
    text-align: left;
    font-size: 18px;
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options--cont {
    display: grid;
    grid-template-rows: minmax(30px, 75px) 1fr;
    /* generate btn & options--box*/
}

.options--box {
    display: flex;
    flex-direction: column;
}

.option,
.hide-option {
    flex: 1;
    display: grid;
    grid-template-rows: minmax(17px, 1fr) minmax(40px, 2fr);
}

.option {
    /* grid-gap: 5px; */
    grid-template-columns: 1fr 1fr;
}

.hide--box {
    justify-content: center;
    gap: 5px;
}

.hide-option {
    grid-template-columns: 1fr 3fr;
    min-width: 115px;
    max-width: 200px;
}

/* .hide-option:not(:first-child) {
    margin-left: 5px;
} */

.option p,
.hide-option p {
    grid-column: 1/-1;
    font-size: 15px;
}

.hide--box {
    display: flex;
    grid-column: 1/-1;
    flex-wrap: wrap;
}

.option button:first-of-type {
    margin-right: 5px;
}


.option-btn,
.hide-btn {
    background: #2ab;
}

.hide-btn {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.swap-btn {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.swap-btn,
.generate-btn {
    background: #e95;
    color: #000;
}

.generate-btn:active,
.option-btn:active,
.swap-btn:active,
.hide-btn:active {
    filter: brightness(.90);
}


@media (min-width: 670px) {

    header,
    .container-1,
    footer {
        max-width: 1000px;
    }

    header {
        margin: auto;
        min-width: 670px;
        height: 125px;
        font-size: 60px;

    }

    .container-1 {
        border-radius: 10px;
        overflow: hidden;
        grid-template-columns: minmax(300px, 1fr) 280px;
        grid-template-rows: minmax(75px, 475px) 60px;
    }

    .char--cont {
        font-size: 20px;
        padding: 0 40px;
    }

    .options--cont {
        grid-template-rows: minmax(40px, 60px) 1fr;
    }


}

@media (min-width: 1010px) {

    header {
        justify-content: normal;
    }

    .char--cont{
        font-size: 25px;
    }

    footer p {
        margin-left: auto;
    }
}